@model PhotoPortfolio.Models.Photo

@{
    ViewData["Title"] = "Delete Photo";
}

<h1>Delete Photo</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            FilePath
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.FilePath" alt="Photo" class="img-thumbnail" style="max-width: 200px;" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PhotoID" />
        <input type="hidden" asp-for="AlbumID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Albums" asp-route-id="@Model.AlbumID" class="btn btn-secondary">Back to Album</a>
    </form>
</div>
