@model IEnumerable<PhotoPortfolio.Models.Album>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to PhotoPortfolio</h1>
    <p class="lead">Showcase your best photography work in one place.</p>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var album in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm album-card">
                        @if (!string.IsNullOrEmpty(album.ThumbnailPath))
                        {
                            <a href="@Url.Action("Details", "Albums", new { id = album.AlbumID })" class="album-link">
                                <img class="card-img-top album-image" src="@album.ThumbnailPath" alt="Album Thumbnail">
                                <div class="album-title-overlay">
                                    <h5 class="album-title">@album.Title</h5>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal HTML for displaying full-size images -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" class="img-fluid" src="" alt="Full-size image">
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
