body {
    padding-top: 56px;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.jumbotron {
    background-color: #343a40;
    color: white;
}

.footer {
    padding: 1em 0;
    text-align: center;
}

.album .card {
    border: none;
    transition: transform .2s;
}

    .album .card:hover {
        transform: scale(1.05);
    }

.card-img-top {
    height: 225px;
    object-fit: cover;
}
