body {
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.jumbotron {
    background-color: #fff8e1;
    color: #333;
}

.footer {
    padding: 1em 0;
    text-align: center;
    background-color: #f7f7f7;
    color: #333;
}

.album-card {
    background-color: #e8f5e9;
    position: relative;
    border: none;
    overflow: hidden;
}

.album-image-container {
    position: relative;
    overflow: hidden;
}

.album-image {
    width: 100%;
    transition: transform .2s, opacity .2s;
    opacity: 0.7;
}

.album-link:hover .album-image {
    transform: scale(1.05);
    opacity: 1;
}

.album-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .2s;
}

.album-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
    transition: color .2s;
}

.album-link:hover .album-title {
    color: white;
}


.album-link {
    cursor: pointer;
}

