@model IEnumerable<PhotoPortfolio.Models.Album>

    @{
        ViewData["Title"] = "Albums";
    }

    <h1>Albums</h1>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Create New Album</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach(var album in Model)
        {
            <tr>
                <td>@album.Title</td>
                <td>@album.Description</td>
            
            <td>
                <a href="@Url.Action("Details", new{ id = album.AlbumID })" class="btn btn-info">View</a>
            </td>
            </tr>
        }
        </tbody>
    </table>
